<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block title %} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">Todo</a>
        </div>
    </nav>
    <div class="container">
    <div class="card mb-4">
        <div class="card-body">
            <span class="text-muted d-inline-block">Filter: </span>
            <a href="/"><span class="badge rounded-pill bg-light text-dark">Uncategorized</span></a> 
            <a href="/tag/follow-up"><span class="badge rounded-pill bg-info text-dark">Follow Up</span></a> 
            <a href="/tag/important"><span class="badge rounded-pill bg-warning text-dark">Important</span></a> 
        </div>
    </div>
    {% block body %} {% endblock %}
    </div>
</body>
</html>